[Unit]
Description=show_demo_bacnet
After=network.target 

[Service]
ExecStart=/usr/share/show_demo/main/bacserv http://101.132.42.189:3428
ExecStop=/bin/kill -KILL $MAINPID
Type=simple
KillMode=control-group
Restart=always
RestartSec=3s

[Install]
WantedBy=multi-user.target
